# Creating New Style Feature Set
Where 60-day period (t-60 to t) is used to predict time t+30

In [20]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

### Convert Date

In [21]:
def convert_date(df, datecolname):
    converted_list = []

    original_list = df[datecolname].values
    
    for i in range(len(original_list)):
        try:
            date = datetime.strptime(original_list[i], '%Y-%m-%d')
        except:
            date = datetime.strptime(original_list[i], '%Y-%m')
        
        converted_list.append(date.strftime('%-m/%-d/%y'))

    df[datecolname] = converted_list
    
    return df

### Create a Datetime Column

In [22]:
def create_dt_col(df):
    # Remove nan columns
    df = df[pd.isnull(df['Date']) == 0]

    dates = df['Date'].values
    datetime_list = []

    for i in range(df.shape[0]):

        date = datetime.strptime(dates[i], '%m/%d/%y')
        datetime_list.append(date)

    df['Datetimes'] = datetime_list
    df['Datetimes'] = df['Datetimes'].dt.to_pydatetime()
    
    return df

### Load Files

In [23]:
# load Sharpe calculations
file1 = '../Data/Sharpe_RUA_complete.csv'
main = pd.read_csv(file1)

In [24]:
main = create_dt_col(main)
main.head(n=5)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,Date,RUA Close,Risk-Free TNX,RUA_Returns,Dates,Annual_Return_RUA,Numerator,Std_RUA,Ratio,Ratio_smoothed,Unnamed: 11,Datetimes
0,837.0,1/2/91,178.979996,7.97,-0.010395,1/2/91,0.094524,0.014824,2.256054,0.006571,0.008547,-0.001976,1991-01-02
1,838.0,1/3/91,176.639999,7.93,-0.013074,1/3/91,0.079362,0.000062,2.234674,0.000028,0.008775,-0.008747,1991-01-03
2,839.0,1/4/91,176.259995,8.02,-0.002151,1/4/91,0.074637,-0.005563,2.216556,-0.002510,0.009003,-0.011513,1991-01-04
3,840.0,1/7/91,173.199997,8.13,-0.017361,1/7/91,0.085293,0.003993,2.154587,0.001853,0.009232,-0.007379,1991-01-07
4,841.0,1/8/91,172.779999,8.16,-0.002425,1/8/91,0.084374,0.002774,2.154293,0.001288,0.009460,-0.008172,1991-01-08

In [25]:
main = main.drop(['Unnamed: 0', 'Unnamed: 11', 'RUA_Returns', 'Dates', 'Numerator', 'Ratio_smoothed'], axis = 1)
main.head()

,Date,RUA Close,Risk-Free TNX,Annual_Return_RUA,Std_RUA,Ratio,Datetimes
0,1/2/91,178.979996,7.97,0.094524,2.256054,0.006571,1991-01-02
1,1/3/91,176.639999,7.93,0.079362,2.234674,0.000028,1991-01-03
2,1/4/91,176.259995,8.02,0.074637,2.216556,-0.002510,1991-01-04
3,1/7/91,173.199997,8.13,0.085293,2.154587,0.001853,1991-01-07
4,1/8/91,172.779999,8.16,0.084374,2.154293,0.001288,1991-01-08

In [26]:
# load VIX
file1 = '../Data/^VIX.csv'

vix = convert_date(pd.read_csv(file1), 'Date') # convert dates so its equal to main
vix = vix[['Date', 'Adj Close']]
vix = create_dt_col(vix)
vix.name = 'vix'
vix = vix.rename(index=str, columns={"Close": "VIX_Close"})
vix.head()

     Date  Adj Close  Datetimes
0  1/2/90  17.240000 1990-01-02
1  1/3/90  18.190001 1990-01-03
2  1/4/90  19.219999 1990-01-04
3  1/5/90  20.110001 1990-01-05
4  1/8/90  20.260000 1990-01-08

In [27]:
# load Real Disposable Income (too short)
file1 = '../Data/A067RL1Q156SBEA_short.csv'
rdi = pd.read_csv(file1)
rdi = rdi.rename(index=str, columns={"DATE": "Date"})
rdi.name = 'rdi'
rdi = create_dt_col(rdi)
rdi.head(n=5)

      Date  A067RL1Q156SBEA  Datetimes
0   1/1/86              5.4 1986-01-01
1   4/1/86              5.2 1986-04-01
2   7/1/86              2.6 1986-07-01
3  10/1/86              0.6 1986-10-01
4   1/1/87              3.7 1987-01-01

In [28]:
# load Investor Sentiment (Weekly)
file1 = '../Data/AAII-AAII_SENTIMENT.csv'
invest = pd.read_csv(file1)
invest = invest[['Date', 'Bullish', 'Neutral', 'Bearish', 'Total']]
invest.name = 'invest'
invest = create_dt_col(invest)
invest.head(n=5)

      Date  Bullish  Neutral  Bearish  Total  Datetimes
0  6/26/87      NaN      NaN      NaN    NaN 1987-06-26
1  7/17/87      NaN      NaN      NaN    NaN 1987-07-17
2  7/24/87     0.36     0.50     0.14    1.0 1987-07-24
3  7/31/87     0.26     0.48     0.26    1.0 1987-07-31
4   8/7/87     0.56     0.15     0.29    1.0 1987-08-07

In [29]:
# load Consumer Price Index (too short)
file1 = '../Data/CPIAUCSL_short.csv'
cpi = pd.read_csv(file1)
cpi = cpi.rename(index=str, columns={"DATE": "Date"})
cpi.name = 'cpi'
cpi = create_dt_col(cpi)
cpi.head(n=5)

     Date  CPIAUCSL  Datetimes
0  1/1/86     109.9 1986-01-01
1  2/1/86     109.7 1986-02-01
2  3/1/86     109.1 1986-03-01
3  4/1/86     108.7 1986-04-01
4  5/1/86     109.0 1986-05-01

In [30]:
# Load Consumer Confidence Index
file1 = '../Data/CCI_USA.csv'
cci = convert_date(pd.read_csv(file1), 'TIME')
cci = cci[['TIME', 'Value']]
cci = cci.rename(index=str, columns={'Value': 'CCI_Value', 'TIME': 'Date'})
cci.name = 'cci'
cci = create_dt_col(cci)
cci.head(n=5)

      Date  CCI_Value  Datetimes
0   9/1/83   100.4003 1983-09-01
1  10/1/83   100.4069 1983-10-01
2  11/1/83   100.5977 1983-11-01
3  12/1/83   100.9262 1983-12-01
4   1/1/84   101.2544 1984-01-01

In [31]:
# Gold Fixing Price: GOLDAMGBD228NLBM
file1 = '../Data/GOLDAMGBD228NLBM.csv'
gfp = convert_date(pd.read_csv(file1), 'DATE')
gfp = gfp.rename(index=str, columns={"DATE": "Date"})
gfp.name = 'gfp'
gfp = create_dt_col(gfp)
gfp.head(n=5)

     Date GOLDAMGBD228NLBM  Datetimes
0  4/1/68           38.000 2068-04-01
1  4/2/68           37.600 2068-04-02
2  4/3/68           37.700 2068-04-03
3  4/4/68           36.700 2068-04-04
4  4/5/68           37.200 2068-04-05

In [32]:
# CBOE Gold Volatility Index: GVZCLS
file1 = '../Data/GVZCLS.csv'
cboe_gvi = convert_date(pd.read_csv(file1), 'DATE')
cboe_gvi = cboe_gvi.rename(index=str, columns={"DATE": "Date"})
cboe_gvi.name = 'cboe_gvi'
cboe_gvi = create_dt_col(cboe_gvi)
cboe_gvi.head(n=5)

     Date GVZCLS  Datetimes
0  6/3/08  22.89 2008-06-03
1  6/4/08  22.69 2008-06-04
2  6/5/08  22.78 2008-06-05
3  6/6/08  23.60 2008-06-06
4  6/9/08  24.47 2008-06-09

In [33]:
# Personal Savings Rate: PSAVERT
file1 = '../Data/PSAVERT_short.csv'
psavert = pd.read_csv(file1)
psavert = psavert.rename(index=str, columns={"DATE": "Date"})
psavert.name = 'psavert'
psavert = create_dt_col(psavert)
psavert.head(n=5)

     Date  PSAVERT  Datetimes
0  1/1/86      8.6 1986-01-01
1  2/1/86      9.3 1986-02-01
2  3/1/86      9.9 1986-03-01
3  4/1/86      9.7 1986-04-01
4  5/1/86      9.3 1986-05-01

In [34]:
# Unemployment Rate: UNRATE
file1 = '../Data/UNRATE_short.csv'
unrate = pd.read_csv(file1)
unrate = unrate.rename(index=str, columns={"DATE": "Date"})
unrate.name = 'unrate'
unrate = create_dt_col(unrate)
unrate.head(n=5)

     Date  UNRATE  Datetimes
0  1/1/86     6.7 1986-01-01
1  2/1/86     7.2 1986-02-01
2  3/1/86     7.2 1986-03-01
3  4/1/86     7.1 1986-04-01
4  5/1/86     7.2 1986-05-01

In [35]:
# 30-Year Mortgage Rate: MORTGAGE30US - Weekly
file1 = '../Data/MORTGAGE30US.csv'
mortgage30 = convert_date(pd.read_csv(file1), 'DATE')
mortgage30 = mortgage30.rename(index=str, columns={"DATE": "Date"})
mortgage30.name = 'mortgage30'
mortgage30 = create_dt_col(mortgage30)
mortgage30.head(n=5)

      Date  MORTGAGE30US  Datetimes
0   4/2/71          7.33 1971-04-02
1   4/9/71          7.31 1971-04-09
2  4/16/71          7.31 1971-04-16
3  4/23/71          7.31 1971-04-23
4  4/30/71          7.29 1971-04-30

In [36]:
# 10-Year Treasury Constant Maturity Rate: DGS10
file1 = '../Data/DGS10.csv'
dgs10 = convert_date(pd.read_csv(file1), 'DATE')
dgs10 = dgs10.rename(index=str, columns={"DATE": "Date"})
dgs10.name = 'dgs10'
dgs10 = create_dt_col(dgs10)
dgs10.head(n=5)

     Date DGS10  Datetimes
0  1/2/62  4.06 2062-01-02
1  1/3/62  4.03 2062-01-03
2  1/4/62  3.99 2062-01-04
3  1/5/62  4.02 2062-01-05
4  1/8/62  4.03 2062-01-08

In [37]:
# BCI
file1 = '../Data/BCI_short.csv'
bci = pd.read_csv(file1)
bci = bci.rename(index=str, columns={"DATE": "Date"})
bci.name = 'bci'
bci = create_dt_col(bci)

In [38]:
bci.head(n=5)

      Date    BCI  BCIp  BCIg  Datetimes
0   1/3/80  102.5 -76.1  -4.7 1980-01-03
1  1/10/80  101.8 -85.6  -5.6 1980-01-10
2  1/17/80  102.0 -83.2  -6.3 1980-01-17
3  1/24/80  101.9 -85.4  -6.5 1980-01-24
4  1/31/80  101.6 -89.3  -6.6 1980-01-31

### Google Sources

In [40]:
# Hits

path1 = 'hits_1.csv'
path2 = 'hits_2.csv'
path3 = 'hits_3.csv'
path4 = 'hits_4.csv'
path5 = 'hits_5.csv'
path6 = 'hits_6.csv'
path7 = 'hits_7.csv'
path8 = 'hits_8.csv'
path9 = 'hits_9.csv'
path10 = 'news_1.csv'
path11 = 'news_2.csv'
path12 = 'news_3.csv'
path13 = 'news_4.csv'
path14 = 'news_5.csv'
path15 = 'news_6.csv'
path16 = 'news_7.csv'
path17 = 'news_8.csv'
path18 = 'news_9.csv'

google_hits = pd.read_csv(path1)
google_hits = google_hits.drop(['isPartial'], axis = 1)
path_list = [path2, path3, path4, path5, path6, path7, path8, path9, path10, path11, path12, path13, path14, path15, path16, path17, path18]

for path in path_list:
    df = pd.read_csv(path)
    df = df.drop(['isPartial', 'date'], axis = 1)
    google_hits = pd.concat([google_hits, df], axis = 1)

google_hits = convert_date(google_hits, 'date')
google_hits = google_hits.rename(index=str, columns={"date": "Date"})
google_hits = create_dt_col(google_hits)
google_hits.name = 'google_hits'
google_hits.head()

,Date,recession,debt,color,stocks,restaurant,portfolio,inflation,housing,dow jones,...,profit,society,ring,wall street,banks,greed,bribery,insider trading,bankruptcy,Datetimes
0,6/15/14,0,6,48,4,62,2,4,40,6,...,27,15,12,23,34,3,10,10,18,2014-06-15
1,6/22/14,0,6,49,4,62,2,4,40,6,...,17,14,14,22,18,1,9,2,16,2014-06-22
2,6/29/14,0,5,48,4,64,2,4,38,6,...,25,9,15,18,36,1,4,0,10,2014-06-29
3,7/6/14,0,6,49,4,64,2,4,42,6,...,19,10,11,19,22,0,4,4,20,2014-07-06
4,7/13/14,0,6,52,4,68,2,4,42,7,...,11,39,9,23,15,3,4,6,14,2014-07-13

In [41]:
list(google_hits)[32]

'bribery'

In [42]:
google_hits.to_csv('GOOGLE_ONLY.csv')

#### Hyperparameters

In [139]:
m = 30 # period of days
#df_list = [main, vix, rdi, invest, cpi, cci, gfp, cboe_gvi, psavert, unrate, mortgage30, dgs10, bci]
#df_names = ['main', 'vix' , 'rdi', 'invest', 'cpi', 'cci', 'gfp', 'cboe_gvi', 'psavert', 'unrate', 'mortgage30', 'dgs10', 'bci']
df_list = [google_hits]
df_names = ['google_hits']

## Begin Code

In [140]:
# find start date
start_date = main['Datetimes'].dt.to_pydatetime()[0]
end_date = start_date + timedelta(days = m)
print(start_date, end_date)

1991-01-02 00:00:00 1991-02-01 00:00:00

**Note to self:**  
You could have repesented the data in 2 different ways. You chose to represent the harder way, which is any points that happen in the last 30 days period. But you could have chosen something like, the last 20 points, and such. I don't know which one is better  
  
Technically, Kayvan said the last 30 days, so in this case, it's better to do what I did. Plus you still need a cutoff point for the monthly measures.

In [141]:
# Date goes old (top) to new (bottom)

#new_main = []
collist = []
new_main = pd.DataFrame()
#print(main.shape)
days = 20
    
for source_idx in range(len(df_list)):
    new_df = pd.DataFrame()
    source = df_list[source_idx]

    print(df_names[source_idx])
    for i in range(days, main.shape[0]):
        row = pd.Series()
        end_date = main['Datetimes'][i]
        start_date = main['Datetimes'][i-days]
        #start_date = end_date - timedelta(days = m)

        #print(start_date, end_date)
        subset = source[(source['Datetimes'] >= start_date) & (source['Datetimes'] <= end_date)]
        subset_rows = subset.shape[0]

        ########### IDENTIFY DATA TYPE #################
               
        if subset.shape[0] >= 4:
            sub_date = subset['Datetimes'].dt.to_pydatetime()
            diff = np.mean([sub_date[i+1] - sub_date[i] for i in range(len(sub_date)-1)])

            # restricting the amount of records (Daily already restricted to twenty)
            if diff < timedelta(days = 14) and diff > timedelta(days = 6):
                # weekly
                subset = subset.iloc[-4:] # take most recent FOUR records
                #print('weekly')

        if subset.shape[0] >= 2:
            sub_date = subset['Datetimes'].dt.to_pydatetime()
            diff = np.mean([sub_date[i+1] - sub_date[i] for i in range(len(sub_date)-1)])

            if diff >= timedelta(days = 25) and diff < timedelta(days = 33):
                # monthly
                subset = subset.iloc[-1:] # take most recent ONE record
                #print('monthly')
            elif diff < timedelta(days = 3) and diff > timedelta(days = 0):
                # daily
                subset = subset.iloc[-days:] # take most recent 20 records
                #print('daily')
        
        subset = subset.drop(['Date','Datetimes'], axis=1)

        #################################################
        
        for row_idx in range(subset.shape[0]):
            row = pd.concat([row, subset.iloc[row_idx]], ignore_index = True)
        
        # Account for empty
        if row.empty and len(new_df > 1):
            new_df = new_df.append(new_df.iloc[-1], ignore_index = True)
            # print('Add previous row')
        else:
            new_df = new_df.append(row, ignore_index = True)

        
    ##### COLUMN NAMES
    columns = [df_names[source_idx] + str(n) for n in list(new_df)]
    collist = collist + columns
    ####
     
    new_main = pd.concat([new_main, new_df], axis = 1)


print(len(collist))
new_main.columns = collist

google_hits
272

In [142]:
main.shape

(7140, 7)

In [143]:
new_main.shape

(7120, 272)

In [144]:
dates = main['Date'][20:len(main['Date'].values)].values
len(dates)

7120

In [145]:
#cols = list(new_main)[0:68]
#new_main = new_main[cols]
#new_main

In [146]:
new_main['Dates'] = dates

In [147]:
new_main.head()

,google_hits0,google_hits1,google_hits2,google_hits3,google_hits4,google_hits5,google_hits6,google_hits7,google_hits8,google_hits9,...,google_hits263,google_hits264,google_hits265,google_hits266,google_hits267,google_hits268,google_hits269,google_hits270,google_hits271,Dates
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/30/91
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/31/91
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/1/91
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/4/91
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/5/91

In [148]:
new_main.to_csv('Revised_Dataset_google.csv', index = False)

In [101]:
#new_main.to_csv('Revised_Dataset_3.csv', index = False) # including RUA and SI

## Merge together sets

In [151]:
path1 = 'Revised_Dataset.csv'
path2 = 'Revised_Dataset_google.csv'

main1 = pd.read_csv(path1)
main2 = pd.read_csv(path2)

main3 = pd.merge(main1, main2, on='Dates')
names2 = list(main2)
names2.remove('Dates')
main3.columns = list(main1) + names2
main3.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,main0,main1,main2,main3,main4,main5,main6,main7,main8,main9,...,google_hits262,google_hits263,google_hits264,google_hits265,google_hits266,google_hits267,google_hits268,google_hits269,google_hits270,google_hits271
0,176.639999,7.93,0.079362,2.234674,0.000028,176.259995,8.02,0.074637,2.216556,-0.002510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,176.259995,8.02,0.074637,2.216556,-0.002510,173.199997,8.13,0.085293,2.154587,0.001853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,173.199997,8.13,0.085293,2.154587,0.001853,172.779999,8.16,0.084374,2.154293,0.001288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,172.779999,8.16,0.084374,2.154293,0.001288,171.169998,8.25,0.081169,2.153921,-0.000618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,171.169998,8.25,0.081169,2.153921,-0.000618,172.759995,8.16,0.080759,2.127008,-0.000395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
main3.to_csv('Combined_Sets_from_Revised.csv', index = False)

In [107]:
# Combined_Sets_from_Revised_2.csv is combined with the clean set (Revised_Dataset_2)

## Clean the dataset

In [94]:
dataset_path = 'Revised_Dataset.csv'
dataset = pd.read_csv(dataset_path)
dataset.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,main0,main1,main2,main3,main4,main5,main6,main7,main8,main9,...,bci3,bci4,bci5,bci6,bci7,bci8,bci9,bci10,bci11,Dates
0,176.639999,7.93,0.079362,2.234674,0.000028,176.259995,8.02,0.074637,2.216556,-0.002510,...,101.8,-187.5,-10.6,101.2,-195.8,-10.5,101.7,-189.1,-10.4,1/30/91
1,176.259995,8.02,0.074637,2.216556,-0.002510,173.199997,8.13,0.085293,2.154587,0.001853,...,101.2,-195.8,-10.5,101.7,-189.1,-10.4,101.9,-186.9,-10.0,1/31/91
2,173.199997,8.13,0.085293,2.154587,0.001853,172.779999,8.16,0.084374,2.154293,0.001288,...,101.2,-195.8,-10.5,101.7,-189.1,-10.4,101.9,-186.9,-10.0,2/1/91
3,172.779999,8.16,0.084374,2.154293,0.001288,171.169998,8.25,0.081169,2.153921,-0.000618,...,101.2,-195.8,-10.5,101.7,-189.1,-10.4,101.9,-186.9,-10.0,2/4/91
4,171.169998,8.25,0.081169,2.153921,-0.000618,172.759995,8.16,0.080759,2.127008,-0.000395,...,101.2,-195.8,-10.5,101.7,-189.1,-10.4,101.9,-186.9,-10.0,2/5/91

In [134]:
# Deal with missing
def clean_dot(pdcol):
    new_col = []
    col = pdcol.values
    new_col.append(col[0])
    idx_changed = []
    
    for val_idx in range(1,len(col)):
        try:
            new_col.append(float(col[val_idx]))

        except:
            if val_idx == len(col)-2: # last value
                new_col.append('')
                print('yes')
                continue
                
            print(col[val_idx], col[val_idx + 1])
            if col[val_idx + 1] == '.' or col[val_idx + 1] == '':
                new_col.append((float(col[val_idx + 2]) + float(new_col[val_idx - 1])) / 2)
            else:
                new_col.append((float(col[val_idx + 1]) + float(new_col[val_idx - 1])) / 2) # imput the average
                idx_changed.append(val_idx)

    return new_col, idx_changed

In [135]:
new_df = pd.DataFrame()
new_df['Date'] = dataset['Dates']

In [136]:
for col in list(dataset[:-1]):
    print(col)
    new_df[col], x  = clean_dot(dataset[col])
#t,x = clean_dot(dataset['main0'])

main0
main1
main2
main3
main4
main5
main6
main7
main8
main9
main10
main11
main12
main13
main14
main15
main16
main17
main18
main19
main20
main21
main22
main23
main24
main25
main26
main27
main28
main29
main30
main31
main32
main33
main34
main35
main36
main37
main38
main39
main40
main41
main42
main43
main44
main45
main46
main47
main48
main49
main50
main51
main52
main53
main54
main55
main56
main57
main58
main59
main60
main61
main62
main63
main64
main65
main66
main67
main68
main69
main70
main71
main72
main73
main74
main75
main76
main77
main78
main79
main80
main81
main82
main83
main84
main85
main86
main87
main88
main89
main90
main91
main92
main93
main94
main95
main96
main97
main98
main99
vix0
vix1
vix2
vix3
vix4
vix5
vix6
vix7
vix8
vix9
vix10
vix11
vix12
vix13
vix14
vix15
vix16
vix17
vix18
vix19
rdi0
invest0
invest1
invest2
invest3
invest4
invest5
invest6
invest7
invest8
invest9
invest10
invest11
invest12
invest13
invest14
invest15
cpi0
cci0
gfp0
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 352.750
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 374.500
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. .
. 293.900
. 287.700
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. 288.250
. .
. 278.350
. 285.500
. 265.500
. 254.600
. .
. 290.650
. .
. 282.050
. .
. 280.000
. 277.600
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. 271.600
. 278.050
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. .
. 348.300
. 342.200
. .
. 333.250
. 342.650
. 372.350
. 360.750
. .
. 413.500
. 415.200
. .
. 417.450
. 394.300
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 675.250
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. 822.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. .
. 881.000
. 869.750
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. 1113.000
. .
. 1124.000
. 1172.000
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1536.000
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. 1655.250
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. .
. 1209.250
. 1219.750
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. .
. 1194.000
. 1184.250
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. 1072.700
. .
. 1216.450
. 1280.300
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1253.950
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. 1271.10
. 1287.20
gfp1
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. .
. 293.900
. 287.700
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. 271.600
. 278.050
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. 348.300
. 342.200
. .
. 333.250
. 342.650
. 372.350
. 360.750
. .
. 413.500
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. 822.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. .
. 881.000
. 869.750
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. 1655.250
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. 1209.250
. 1219.750
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. .
. 1194.000
. 1184.250
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. 1271.10
. 1287.20
gfp2
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. 293.900
. 287.700
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. 271.600
. .
. 277.600
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. 348.300
. 342.200
. .
. 333.250
. 342.650
. 372.350
. 360.750
. 413.500
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. .
. 828.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. 881.000
. 869.750
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. .
. 1658.750
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. 1209.250
. 1219.750
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. 1194.000
. 1184.250
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. .
. 1277.25
. 1287.20
gfp3
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 385.100
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. 293.900
. 287.700
. .
. 309.500
. 304.200
. 298.850
. 277.700
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. 271.600
. .
. 278.050
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. .
. 348.500
. 342.200
. .
. 333.250
. 342.650
. 372.350
. 360.750
. 413.500
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. .
. 822.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. 881.000
. 869.750
. .
. 895.000
. 903.000
. 942.000
. 949.750
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. .
. 1655.250
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. .
. 1201.500
. 1219.750
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. 1194.000
. 1184.250
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. .
. 1271.10
. 1287.20
gfp4
. .
. 357.900
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 343.550
. 325.400
. .
. 290.900
. 287.700
. .
. 309.500
. 298.850
. 277.700
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. 274.700
. 272.800
. .
. 262.150
. 276.650
. 271.600
. .
. 278.050
. 278.100
. .
. 302.650
. .
. 324.500
. 309.400
. .
. 348.300
. 342.200
. .
. 333.250
. 372.350
. 360.750
. .
. 415.600
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. 628.300
. 640.750
. .
. 676.850
. 657.600
. 667.000
. .
. 822.500
. 840.750
. .
. 930.650
. 923.750
. 809.750
. .
. 870.000
. 869.750
. .
. 895.000
. 942.000
. 949.750
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. 1584.000
. 1590.000
. .
. 1643.750
. .
. 1633.250
. 1663.500
. .
. 1655.250
. 1681.500
. .
. 1597.750
. 1379.000
. 1411.000
. .
. 1209.250
. 1219.750
. .
. 1290.750
. 1283.000
. 1286.500
. .
. 1186.500
. 1184.250
. .
. 1208.500
. 1194.000
. 1141.900
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. 1285.40
. 1312.80
. .
. 1336.60
. 1302.05
. 1212.75
. .
. 1271.10
. 1287.20
gfp5
. .
. 357.900
. 356.400
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.750
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 383.400
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.650
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 340.650
. 343.550
. 325.400
. .
. 293.900
. 287.700
. .
. 309.500
. 303.500
. 298.850
. 277.700
. .
. 286.800
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. 274.700
. 272.800
. .
. 262.150
. 265.200
. 276.650
. .
. 278.050
. .
. 302.650
. 310.900
. .
. 324.500
. 309.400
. .
. 348.300
. 342.200
. .
. 333.250
. 343.000
. 372.350
. 360.750
. .
. 413.500
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. 628.300
. 640.750
. .
. 676.850
. 686.500
. 657.600
. 667.000
. .
. 822.500
. .
. 930.650
. 874.000
. 923.750
. 809.750
. .
. 881.000
. 869.750
. .
. 895.000
. 903.500
. 942.000
. 949.750
. .
. 1092.500
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. 1584.000
. 1590.000
. .
. 1643.750
. 1585.500
. .
. 1633.250
. 1663.500
. .
. 1655.250
. .
. 1597.750
. 1454.000
. 1379.000
. 1411.000
. .
. 1209.250
. 1219.750
. .
. 1290.750
. 1311.000
. 1283.000
. 1286.500
. .
. 1194.000
. 1184.250
. .
. 1208.500
. 1191.250
. 1194.000
. 1141.900
. .
. 1067.800
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1323.40
. 1285.40
. 1312.80
. .
. 1336.60
. 1306.85
. 1302.05
. 1212.75
. .
. 1271.10
gfp6
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. .
. 293.900
. 287.700
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.850
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.600
. 272.800
. .
. 262.150
. 265.600
. 276.650
. .
. 278.050
. 278.650
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. .
. 348.300
. .
. 333.250
. 342.650
. 372.350
. 360.750
. .
. 413.500
. 415.200
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 435.150
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 517.000
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 629.000
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. .
. 822.500
. 865.350
. .
. 930.650
. 878.000
. 923.750
. 809.750
. .
. 881.000
. 869.750
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1411.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1537.500
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. .
. 1655.250
. 1684.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. .
. 1209.250
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. .
. 1194.000
. 1184.250
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1146.800
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1285.90
. 1323.40
. .
. 1291.60
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. .
. 1271.10
. 1287.95
gfp7
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. .
. 293.900
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. 288.250
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.650
. .
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. .
. 278.050
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. .
. 348.300
. 344.000
. .
. 333.250
. 342.650
. 372.350
. 360.750
. .
. 413.500
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. .
. 822.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. .
. 881.000
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. 1113.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. .
. 1655.250
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. .
. 1209.250
. 1232.250
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. .
. 1194.000
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. 1072.700
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. .
. 1271.10
. 1287.20
gfp8
. .
. 357.900
. 356.250
. 356.300
. 354.100
. .
. 356.100
. 351.200
. .
. 338.200
. 336.500
. 337.000
. 342.650
. .
. 332.900
. 329.400
. .
. 336.950
. 353.400
. 378.250
. 370.600
. .
. 385.650
. 395.000
. .
. 387.400
. 375.700
. 386.250
. 386.150
. .
. 381.800
. 381.400
. .
. 394.100
. 389.900
. 386.100
. 383.250
. .
. 387.350
. 387.100
. .
. 397.600
. 393.750
. 392.150
. 389.000
. .
. 369.550
. 367.800
. .
. 349.850
. 342.800
. 343.550
. 325.400
. .
. 293.900
. 287.350
. .
. 309.500
. 304.200
. 298.850
. 277.700
. .
. 286.700
. .
. 278.350
. 285.600
. 265.500
. 254.600
. .
. 290.650
. 282.050
. .
. 280.000
. 275.000
. 274.400
. 274.000
. .
. 274.700
. 272.800
. .
. 262.150
. 265.600
. 276.650
. .
. 278.050
. 278.100
. .
. 302.650
. 312.650
. .
. 324.500
. 309.400
. .
. 348.300
. 342.200
. .
. 333.250
. 342.650
. 372.350
. 360.750
. .
. 413.500
. 417.750
. .
. 417.450
. 389.750
. 395.850
. 408.100
. .
. 443.500
. 426.800
. .
. 426.950
. 429.200
. 416.900
. 436.150
. .
. 509.150
. 520.750
. .
. 616.750
. 657.750
. 652.250
. 616.850
. .
. 628.300
. 640.750
. .
. 676.850
. 685.900
. 657.600
. 667.000
. .
. 822.500
. 840.750
. .
. 930.650
. 878.000
. 923.750
. 809.750
. .
. 881.000
. 860.000
. .
. 895.000
. 903.000
. 942.000
. 949.750
. .
. 1103.000
. .
. 1124.000
. 1184.250
. 1219.750
. 1233.500
. .
. 1403.500
. 1405.500
. .
. 1505.000
. .
. 1546.500
. 1537.000
. 1791.000
. .
. 1584.000
. 1590.000
. .
. 1643.750
. 1627.000
. .
. 1633.250
. 1663.500
. .
. 1655.250
. 1681.500
. .
. 1597.750
. 1463.000
. 1379.000
. 1411.000
. .
. 1209.250
. 1219.750
. .
. 1290.750
. 1308.500
. 1283.000
. 1286.500
. .
. 1194.000
. 1192.000
. .
. 1208.500
. 1187.400
. 1194.000
. 1141.900
. .
. 1067.250
. .
. 1216.450
. 1296.500
. 1210.500
. 1318.850
. .
. 1139.750
. 1148.650
. .
. 1285.0
. 1255.800
. 1262.800
. 1270.15
. 1323.40
. .
. 1285.40
. 1312.80
. .
. 1336.60
. 1310.05
. 1302.05
. 1212.75
. .
. 1271.10
. 1287.20

IndexError: index 7120 is out of bounds for axis 0 with size 7120

In [137]:
new_df

,Date,main0,main1,main2,main3,main4,main5,main6,main7,main8,...,cpi0,cci0,gfp0,gfp1,gfp2,gfp3,gfp4,gfp5,gfp6,gfp7
0,1/30/91,176.639999,7.930,0.079362,2.234674,0.000028,176.259995,8.020,0.074637,2.216556,...,NaN,NaN,386.750,388.100,391.000,392.800,390.700,388.500,390.400,395.350
1,1/31/91,176.259995,8.020,0.074637,2.216556,-0.002510,173.199997,8.130,0.085293,2.154587,...,NaN,NaN,388.1,391,392.8,390.7,388.5,390.4,395.35,398
2,2/1/91,173.199997,8.130,0.085293,2.154587,0.001853,172.779999,8.160,0.084374,2.154293,...,134.800,98.50807,391,392.8,390.7,388.5,390.4,395.35,398,403.7
3,2/4/91,172.779999,8.160,0.084374,2.154293,0.001288,171.169998,8.250,0.081169,2.153921,...,134.800,98.50807,392.8,390.7,388.5,390.4,395.35,398,403.7,383.5
4,2/5/91,171.169998,8.250,0.081169,2.153921,-0.000618,172.759995,8.160,0.080759,2.127008,...,134.800,98.50807,390.7,388.5,390.4,395.35,398,403.7,383.5,380
5,2/6/91,172.759995,8.160,0.080759,2.127008,-0.000395,173.130005,8.200,0.084379,2.097915,...,134.800,98.50807,388.5,390.4,395.35,398,403.7,383.5,380,378.25
6,2/7/91,173.130005,8.200,0.084379,2.097915,0.001134,171.389999,8.230,0.072643,2.020824,...,134.800,98.50807,390.4,395.35,398,403.7,383.5,380,378.25,381.25
7,2/8/91,171.389999,8.230,0.072643,2.020824,-0.004779,171.990005,8.220,0.073711,2.020397,...,134.800,98.50807,395.35,398,403.7,383.5,380,378.25,381.25,377.9
8,2/11/91,171.990005,8.220,0.073711,2.020397,-0.004202,173.619995,8.240,0.076761,2.020019,...,134.800,98.50807,398,403.7,383.5,380,378.25,381.25,377.9,377.05
9,2/12/91,173.619995,8.240,0.076761,2.020019,-0.002792,179.770004,8.050,0.088310,1.999218,...,134.800,98.50807,403.7,383.5,380,378.25,381.25,377.9,377.05,373.8
10,2/13/91,179.770004,8.050,0.088310,1.999218,0.003907,181.630005,8.030,0.094183,1.976909,...,134.800,98.50807,383.5,380,378.25,381.25,377.9,377.05,373.8,374.5
11,2/14/91,181.630005,8.030,0.094183,1.976909,0.007022,181.309998,8.030,0.097164,1.896190,...,134.800,98.50807,380,378.25,381.25,377.9,377.05,373.8,374.5,377.6
12,2/15/91,181.309998,8.030,0.097164,1.896190,0.008894,180.100006,8.070,0.094817,1.896268,...,134.800,98.50807,378.25,381.25,377.9,377.05,373.8,374.5,377.6,369.75
13,2/19/91,180.100006,8.070,0.094817,1.896268,0.007445,181.210007,8.040,0.096739,1.896391,...,134.800,98.50807,377.9,377.05,373.8,374.5,377.6,369.75,369.6,367.95
14,2/20/91,181.210007,8.040,0.096739,1.896391,0.008616,183.800003,8.000,0.094877,1.877182,...,134.800,98.50807,377.05,373.8,374.5,377.6,369.75,369.6,367.95,367
15,2/21/91,183.800003,8.000,0.094877,1.877182,0.007925,184.610001,8.060,0.099076,1.856231,...,134.800,98.50807,373.8,374.5,377.6,369.75,369.6,367.95,367,367.15
16,2/22/91,184.610001,8.060,0.099076,1.856231,0.009954,184.789993,8.060,0.090852,1.802809,...,134.800,98.50807,374.5,377.6,369.75,369.6,367.95,367,367.15,360.9
17,2/25/91,184.789993,8.060,0.090852,1.802809,0.005687,184.899994,8.050,0.090930,1.802851,...,134.800,98.50807,377.6,369.75,369.6,367.95,367,367.15,360.9,363.5
18,2/26/91,184.899994,8.050,0.090930,1.802851,0.005785,187.750000,8.050,0.095928,1.802997,...,134.800,98.50807,369.75,369.6,367.95,367,367.15,360.9,363.5,368.3
19,2/27/91,187.750000,8.050,0.095928,1.802997,0.008557,189.479996,8.030,0.100342,1.787843,...,134.800,98.50807,369.6,367.95,367,367.15,360.9,363.5,368.3,368
20,2/28/91,189.479996,8.030,0.100342,1.787843,0.011210,189.380005,7.910,0.099544,1.773278,...,134.800,98.50807,367.95,367,367.15,360.9,363.5,368.3,368,362.05
21,3/1/91,189.380005,7.910,0.099544,1.773278,0.011529,192.619995,7.880,0.110317,1.722651,...,134.800,99.22008,367,367.15,360.9,363.5,368.3,368,362.05,367.05
22,3/4/91,192.619995,7.880,0.110317,1.722651,0.018296,194.289993,7.850,0.113054,1.723299,...,134.800,99.22008,367.15,360.9,363.5,368.3,368,362.05,367.05,366.85
23,3/5/91,194.289993,7.850,0.113054,1.723299,0.020051,197.720001,7.790,0.118766,1.724109,...,134.800,99.22008,360.9,363.5,368.3,368,362.05,367.05,366.85,366.25
24,3/6/91,197.720001,7.790,0.118766,1.724109,0.023703,196.789993,7.820,0.119447,1.706283,...,134.800,99.22008,363.5,368.3,368,362.05,367.05,366.85,366.25,364.6
25,3/7/91,196.789993,7.820,0.119447,1.706283,0.024174,198.139999,7.770,0.119020,1.690288,...,134.800,99.22008,368.3,368,362.05,367.05,366.85,366.25,364.6,361.6
26,3/8/91,198.139999,7.770,0.119020,1.690288,0.024446,202.929993,7.780,0.119692,1.652291,...,134.800,99.22008,368,362.05,367.05,366.85,366.25,364.6,361.6,363.75
27,3/11/91,202.929993,7.780,0.119692,1.652291,0.025354,201.529999,7.780,0.117240,1.653097,...,134.800,99.22008,362.05,367.05,366.85,366.25,364.6,361.6,363.75,361.5
28,3/12/91,201.529999,7.780,0.117240,1.653097,0.023858,203.369995,7.780,0.120117,1.653976,...,134.800,99.22008,367.05,366.85,366.25,364.6,361.6,363.75,361.5,358.9
29,3/13/91,203.369995,7.780,0.120117,1.653976,0.025585,201.029999,7.800,0.116144,1.654732,...,134.800,99.22008,366.85,366.25,364.6,361.6,363.75,361.5,358.9,357.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7090,3/25/19,1656.439941,2.636,0.131973,0.243117,0.434414,1654.160034,2.693,0.131339,0.243814,...,254.148,101.16930,1327.55,1326.45,1325.45,1309.95,1287.45,1285,1285.55,1286.4
7091,3/26/19,1654.160034,2.693,0.131339,0.243814,0.428232,1649.219971,2.711,0.132760,0.244727,...,254.148,101.16930,1326.45,1325.45,1309.95,1287.45,1285,1285.55,1286.4,1294.1
7092,3/27/19,1649.219971,2.711,0.132760,0.244727,0.431705,1660.609985,2.755,0.127271,0.245346,...,254.148,101.16930,1325.45,1309.95,1287.45,1285,1285.55,1286.4,1294.1,1296.35
7093,3/28/19,1660.609985,2.755,0.127271,0.245346,0.406450,1660.609985,2.722,0.123074,0.246080,...,254.148,101.16930,1309.95,1287.45,1285,1285.55,1286.4,1294.1,1296.35,1296.95
7094,3/29/19,1660.609985,2.722,0.123074,0.246080,0.389523,1650.260010,2.722,0.120828,0.246323,...,254.148,101.16930,1287.45,1285,1285.55,1286.4,1294.1,1296.35,1296.95,1308.4
7095,4/1/19,1650.260010,2.722,0.120828,0.246323,0.380020,1650.260010,2.692,0.120668,0.246568,...,254.148,101.16930,1285,1285.55,1286.4,1294.1,1296.35,1296.95,1308.4,1299.2
7096,4/2/19,1650.260010,2.692,0.120668,0.246568,0.380210,1624.060059,2.636,0.114679,0.246812,...,254.148,101.16930,1285.55,1286.4,1294.1,1296.35,1296.95,1308.4,1299.2,1302.65
7097,4/3/19,1624.060059,2.636,0.114679,0.246812,0.357838,1620.699951,2.625,0.118365,0.247164,...,254.148,101.16930,1286.4,1294.1,1296.35,1296.95,1308.4,1299.2,1302.65,1305.35
7098,4/4/19,1620.699951,2.625,0.118365,0.247164,0.372688,1644.869995,2.643,0.116500,0.247770,...,254.148,101.16930,1294.1,1296.35,1296.95,1308.4,1299.2,1302.65,1305.35,1308.35
7099,4/5/19,1644.869995,2.643,0.116500,0.247770,0.363524,1649.469971,2.605,0.117281,0.247930,...,254.148,101.16930,1296.35,1296.95,1308.4,1299.2,1302.65,1305.35,1308.35,1303
7100,4/8/19,1649.469971,2.605,0.117281,0.247930,0.367968,1660.250000,2.611,0.119307,0.248149,...,254.148,101.16930,1296.95,1308.4,1299.2,1302.65,1305.35,1308.35,1303,1317.3
7101,4/9/19,1660.250000,2.611,0.119307,0.248149,0.375566,1658.359985,2.630,0.119449,0.248528,...,254.148,101.16930,1308.4,1299.2,1302.65,1305.35,1308.35,1303,1317.3,1311.1
7102,4/10/19,1658.359985,2.630,0.119449,0.248528,0.374804,1665.839966,2.593,0.122162,0.249011,...,254.148,101.16930,1299.2,1302.65,1305.35,1308.35,1303,1317.3,1311.1,1319.35
7103,4/11/19,1665.839966,2.593,0.122162,0.249011,0.386457,1672.589966,2.602,0.117594,0.249571,...,254.148,101.16930,1302.65,1305.35,1308.35,1303,1317.3,1311.1,1319.35,1315.25
7104,4/12/19,1672.589966,2.602,0.117594,0.249571,0.366925,1671.180054,2.614,0.117156,0.249717,...,254.148,101.16930,1305.35,1308.35,1303,1317.3,1311.1,1319.35,1315.25,1318.25
7105,4/15/19,1671.180054,2.614,0.117156,0.249717,0.364477,1665.250000,2.535,0.115816,0.249846,...,254.148,101.16930,1308.35,1303,1317.3,1311.1,1319.35,1315.25,1318.25,1306.9
7106,4/16/19,1665.250000,2.535,0.115816,0.249846,0.362088,1665.250000,2.537,0.115547,0.250090,...,254.148,101.16930,1303,1317.3,1311.1,1319.35,1315.25,1318.25,1306.9,1291.15
7107,4/17/19,1665.250000,2.537,0.115547,0.250090,0.360580,1649.050049,2.455,0.112511,0.250281,...,254.148,101.16930,1317.3,1311.1,1319.35,1315.25,1318.25,1306.9,1291.15,1291.9
7108,4/18/19,1649.050049,2.455,0.112511,0.250281,0.351449,1649.050049,2.420,0.115375,0.250718,...,254.148,101.16930,1311.1,1319.35,1315.25,1318.25,1306.9,1291.15,1291.9,1287.2
7109,4/22/19,1649.050049,2.420,0.115375,0.250718,0.363655,1660.599976,2.414,0.117560,0.250931,...,254.148,101.16930,1315.25,1318.25,1306.9,1291.15,1291.9,1287.2,1291.85,1291.6
7110,4/23/19,1660.599976,2.414,0.117560,0.250931,0.372292,1660.599976,2.374,0.117404,0.251151,...,254.148,101.16930,1318.25,1306.9,1291.15,1291.9,1287.2,1291.85,1291.6,1288.9
7111,4/24/19,1660.599976,2.374,0.117404,0.251151,0.372940,1660.030029,2.389,0.117083,0.251515,...,254.148,101.16930,1306.9,1291.15,1291.9,1287.2,1291.85,1291.6,1288.9,1297.1
7112,4/25/19,1660.030029,2.389,0.117083,0.251515,0.370528,1660.030029,2.414,0.113530,0.251742,...,254.148,101.16930,1291.15,1291.9,1287.2,1291.85,1291.6,1288.9,1297.1,1301.85
7113,4/26/19,1660.030029,2.414,0.113530,0.251742,0.355084,1690.180054,2.497,0.116988,0.252228,...,254.148,101.16930,1291.9,1287.2,1291.85,1291.6,1288.9,1297.1,1301.85,1304.8
7114,4/29/19,1690.180054,2.497,0.116988,0.252228,0.364822,1689.890015,2.481,0.116776,0.252391,...,254.148,101.16930,1287.2,1291.85,1291.6,1288.9,1297.1,1301.85,1304.8,1304.65
7115,4/30/19,1689.890015,2.481,0.116776,0.252391,0.364379,1694.329956,2.517,0.117497,0.252563,...,254.148,101.16930,1291.85,1291.6,1288.9,1297.1,1301.85,1304.8,1304.65,1296.15
7116,5/1/19,1694.329956,2.517,0.117497,0.252563,0.365562,1697.430054,2.512,0.119412,0.252846,...,254.148,101.16930,1291.6,1288.9,1297.1,1301.85,1304.8,1304.65,1296.15,1286.75
7117,5/2/19,1697.430054,2.512,0.119412,0.252846,0.372924,1706.280029,2.501,0.124507,0.253361,...,254.148,101.16930,1288.9,1297.1,1301.85,1304.8,1304.65,1296.15,1286.75,1283.75
7118,5/3/19,1706.280029,2.501,0.124507,0.253361,0.392709,1707.670044,2.519,0.124547,0.254077,...,254.148,101.16930,1297.1,1301.85,1304.8,1304.65,1296.15,1286.75,1283.75,1276.1
7119,5/6/19,1707.670044,2.519,0.124547,0.254077,0.391049,1707.670044,2.499,0.124382,0.254486,...,254.148,101.16930,1301.85,1304.8,1304.65,1296.15,1286.75,1283.75,1276.1,1276.5

In [138]:
new_df.to_csv('Revised_Dataset_clean.csv')